# AdMob Core Configuration
VITE_ADMOB_TEST_MODE=
VITE_ADMOB_ANDROID_APP_ID=
VITE_ADMOB_ANDROID_BANNER_ID=
VITE_ADMOB_IOS_APP_ID=
VITE_ADMOB_IOS_BANNER_ID=

# Frequency Capping limits (in Milliseconds)
VITE_ADMOB_INTERSTITIAL_COOLDOWN_MS=
VITE_ADMOB_REWARDED_COOLDOWN_MS=
VITE_ADMOB_APPOPEN_COOLDOWN_MS=
